/*Top Menu Navigation Bar*/
ul.topnav li a:hover {background-color: #555;}

ul.topnav li.icon {display: none;}

@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}
body {margin:0;}
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}
/*Top Menu Navigation Bar*/

/*Social link navigation bar*/
.mysociallinks{
	height:100%;
	width:0;
	position:fixed;
	z-index:1;
	top:50px;
	left:0;
	background-color:#111;
	padding-top:60px;
	visibility:hidden;
	transition:0.5s;
	overflow-x:hidden;
	}
.mysociallinks a{
	padding: 8px 8px 8px 32px;
	text-decoration:none;
	font-size:25px;
	color:#818181;
	display:block;
	transition:0.3s;
	}
.mysociallinks .closebtn{
	position:absolute;
	top:0;
	right:25px;
	font-size:36px;
	margin-left:50px;}

.mysociallinks a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
} 
/*Social link navigation bar*/